{% if user.is_authenticated %}
  <form class="form-signin" method="POST" action="" id="comment_form">
    {% csrf_token %}
    <div class="form-label-group">
      <label for="inputEmail">Add Comment:</label>
      <textarea id="comment" class="form-control" placeholder="Write Comment here" name="comment" cols="45" rows="4" required="required" pattern="[A-Za-z0-9]{1,20}" aria-required="true"></textarea>
    </div>
    <br>
  <button class="btn btn-lg btn-primary" type="submit">Add</button>
</form>

{% else %}
  <form class="form-signin" method="POST" action="{% url 'login' %}" id="">
    {% csrf_token %}

    <div class="form-label-group">

      <h5><label for="inputEmail">Add Comment:(You Have To Login First!!)</label></h5>
      <textarea id="comment" class="form-control" placeholder="Write Comment here" name="comment" cols="45" rows="4" required="required" pattern="[A-Za-z0-9]{1,20}" aria-required="true"></textarea>
    </div>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">Add</button>
  </form>
{% endif %}
