{% extends 'blogs/base.html' %}
{% block content %}

<div class="card flex-md-row mb-4 shadow-sm ">
  <div class="card-body d-flex flex-column align-items-start">
    <h2 class="h1">Draft List</h2>
<ul>
  {% if posts %}
    {% for post in posts %}
      {% if post.author.pk == user.pk %}
        <li>
        <h5>  <a class="p-2 text-muted" href="{% url 'blogs:post-update' post.pk %}">{{ post.title }}</a></h5>
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <h5>Draft list empty</h5>
  {% endif %}
  </div>
</div>

{% endblock %}
